/* 모바일 화면 스타일 (예시: iPhone 13 Pro) */
@media ( max-width : 375px) and (max-height: 812px) {
	html {
		font-size: 16px; /* 기본 폰트 사이즈 조절 */
	}
	.container {
		width: 100%; /* 전체 화면 차지 */
	}
	/* 모바일 전용 스타일 추가 */
}

/* 태블릿 및 일반적인 모바일 화면 */
@media ( max-width : 767px) {
	.header {
		text-align: center;
	}
	/* 다른 모바일 스타일 */
}

/* 데스크톱 화면 스타일 */
@media ( min-width : 768px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}
	/* 데스크톱 전용 스타일 추가 */
}

/* 기본 스타일 */
html {
	box-sizing: border-box;
}

body {
	width: 100%;
	max-width: 375px;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	/* border: 1px solid Red; 테스트 용 */
}

header, footer {
	position: sticky;
	left: 0;
	right: 0;
	z-index: 999;
	background-color: #FFFFFF;
	padding: 1rem;
	text-align: center;
	box-sizing: border-box; /* 만약 box-sizing이 border-box로 설정되어 있지 않다면 추가 */
	width: 100%;
	max-width: 375px;
	/* border: 1px solid Red; 테스트 용 */
}

header {
	top: 0; /* header는 위쪽에, footer는 아래쪽에 고정 */
}

footer {
	position: fixed; /* 또는 position: fixed; */
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.container {
  flex-grow: 1; /* 내용 영역이 남는 공간을 채우도록 설정 */
  /* 필요에 따라 padding이나 margin 조절 */
}

/* 뒤로가기 버튼 */
#backButton {
	cursor: pointer;
}