/* header 부분 
=====================================*/
.SUB-Header {
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.SUB-Header-Arrow img {
	width: 100%;
	height: 100%;
	/* seulbeom */
	cursor: pointer;
}

.SUB-Header-TXT {
	font-family: NanumSquareRoundOTF;
	font-size: 16px;
	font-weight: 800;
	line-height: 26px;
	text-align: center;
}

/* container 부분 
=====================================*/
.container {
	margin: 0 auto; /* 가운데 정렬 */
	padding: 20px;
	text-align: left;
}

.TOP_TXT {
	margin-bottom: 20px;
	font-family: NanumSquareRoundOTF;
}

.TOP_TXT h3 {
	width: 335px;
	height: 36px;
	font-size: 24px;
	font-weight: 800;
	line-height: 36px;
	color: #000000;
}

.TOP_TXT p {
	width: 335px;
	height: 78px;
	font-size: 14px;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.TOP_TXT span {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #643EF8;
}

button {
	/* 버튼 스타일 */
	width: 335px;
	height: 52px;
	position: fixed;
	bottom: 20px; /* 화면 아래에서 20px 위에 위치 */
	left: 50%;
	transform: translateX(-50%);
	padding: 13px 12px 13px 12px;
	background-color: #643EF8;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	color: white;
}