body {
	width: 80%;
	max-width: 1200px; /* Adjust maximum width as needed */
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

.SUB-Header {
	background-color: #FFFFFF;
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.SUB-Header-Arrow img {
	width: 24px;
	/* seulbeom */
	cursor: pointer;
}

.SUB-Header-TXT {
	font-family: NanumSquareRoundOTF;
	font-size: 16px;
	font-weight: 800;
	line-height: 26px;
	text-align: center;
}

.main {
	padding: 20px;
	font-family: NanumSquareRoundOTF;
	font-size: 14px;
	line-height: 24px;
	text-align: left;
}

.Frame-47455 p {
	font-weight: 400;
	color: #434549;
}

.TXT {
	font-weight: 700;
	list-style: none;
	text-decoration-line: underline;
	color: #5D6066;
}