body {
	width: 100%;
	max-width: 375px; /* Adjust maximum width as needed */
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

.SUB-Header {
	background-color: #FFFFFF;
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.SUB-Header-Arrow img {
	width: 24px;
	height: 24px;
	/* seulbeom */
	cursor: pointer;
}

.SUB-Header-TXT {
	font-family: NanumSquareRoundOTF;
	font-size: 16px;
	font-weight: 800;
	line-height: 26px;
	text-align: center;
}
