body{
	border: 1px solid Red;
	
}

header, footer{
	border: 1px solid Red;
}
header, html{
	background-color: #FAFAFC;
}
.container{
	display: flex;
    flex-direction: column; /* 카드들을 세로로 쌓이게 함 */
    align-items: center; /* 세로 중앙 정렬 */
}
.upperPart{
	margin-top:20px;
}
.img_PayUnlimited{
	display: flex;
	align-items: center; /* 세로 중앙 정렬 */
}
.U-img{
	margin-bottom: 53px;
}
#PU{
	margin-left: 9px;
	margin-bottom: 53px;
	font-family:'NanumSquareRoundOTF';
	font-weight: 800;
	font-size:20px;	
}
#text{
	margin-top: -40px;
	color: #434549;
	font-family:'NanumSquareRoundOTF';
	font-size: 16px;
}
.middlePart{
	margin-top: 5px;
}

.A, .B, .C{
	background-color: white;
	border-radius: 10px; /*둥근 모서리*/
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
	font-family: 'NanumSquareRoundOTF';
	width: 325px;
	height: 60px;
    display: flex;/* 자식 요소들을 가로로 배치 */
    align-items: center; /* 세로 축에서 자식 요소들을 가운데 정렬 */
    justify-content: space-between; /* 자식 요소 사이의 공간을 균등하게 배치 */
    cursor:pointer;
}

.B, .C{
	margin-top: 10px; 
}

.name{
	font-family:'NanumSquareRoundOTF';
	font-weight: 800;
	font-size:14px;	
	margin-left: 15px;
	margin-top: 15px;
}
#name_2{
	color: #96999D;
}
.payIndividual{
	font-family:'NanumSquareRoundOTF';
	font-weight: 800;
	font-size:11px;	
	color: #96999D;
	margin-left: 15px;
	margin-top: -5px;
}
.price_1, .price_3{
	margin-right: 15px;
	font-family:'NanumSquareRoundOTF';
	font-weight:700;
	color: #643EF8;
}
.price_2{
	margin-right: 15px;
	font-family:'NanumSquareRoundOTF';
	font-weight:700;
	color: #96999D;
}
.lowerPart{
	background-color: #F2F0FD;
	border: 1px solid #F2F0FD;
	border-radius: 10px; /*둥근 모서리*/
	margin-top: 15px;
	width: 325px;
	height: 100px;
	display: flex;
	flex-direction: column;
	
}
#payUnlimited{
	margin-left: 15px;
	font-family:'NanumSquareRoundOTF';
	font-weight:800;
}
.aa{
	margin-top:-12px;
	display: flex; /* 체크 이미지와 텍스트를 가로로 나란히 배치 */
    align-items: center; /* 체크 이미지와 텍스트를 세로 중앙 정렬 */
    background-color: #F2F0FD;
    cursor: default; /* 기본 포인터 효과로 설정 */
}
.bb{
	margin-bottom: 10px;
	display: flex; /* 체크 이미지와 텍스트를 가로로 나란히 배치 */
    align-items: center; /* 체크 이미지와 텍스트를 세로 중앙 정렬 */
    background-color: #F2F0FD;
    cursor: default; /* 기본 포인터 효과로 설정 */
}
.purpleCheck{
	width: 12px;
	margin-top:5px;
	margin-left: 18px;
}
.longText{
	color: #434549;
	font-family:'NanumSquareRoundOTF';
	font-size: 10px;
	margin-left:5px;
	margin-top:5px;
}
#a{
	margin-left: 5px;
}
.footerText{
	color: white;
	font-family:'NanumSquareRoundOTF';
	font-size: 15px;
	font-weight:700;
	margin-top:-2px;
	margin-left: 92px;
}
footer{
	cursor:pointer;
	margin-bottom: 20px; 
	background-color: #643EF8;	
	border: 1px solid #643EF8;
	border-radius: 8px;
	width:335px;
	height:50px;
}


