/* 뒤로가기 버튼 */
#backButton {
	float: right;
}

.Logo {
	display: inline-block; /* inline-block으로 설정하여 가운데 정렬 가능 */
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 60px;
}

.Logo img {
	width: 100px;
	height: 64px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.btn-container {
	display: flex;
	width: 295px; /* 버튼 최대 너비 설정 */
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
}

.btn-apple, .btn-kakao, .btn-facebook, .btn-google, .btn-email,
	.btn-phone {
	width: 100%;
	height: 44px;
	padding: 13px 12px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.btn-apple {
	background-color: #000000;
	color: #FFFFFF;
}

.btn-kakao {
	background-color: #FEE500;
	color: #000000;
	border: none; /* 테두리 제거 */
}

.btn-facebook {
	background-color: #1877F2;
	color: #FFFFFF;
	border: none; /* 테두리 제거 */
}

.btn-google {
	background-color: #FFFFFF;
	border: 1px solid #E8E9EB;
	color: #000000;
}

.btn-email, .btn-phone {
	background-color: #F5F6F8;
	border: 1px solid #F5F6F8;
	color: #000000;
}

.btn-apple img, .btn-kakao img, .btn-facebook img, .btn-google img,
	.btn-email img, .btn-phone img {
	width: 20px;
	height: 20px;
}

.btn-apple span, .btn-kakao span, .btn-facebook span, .btn-google span,
	.btn-email span, .btn-phone span {
	font-family: NanumSquareRoundOTF;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
}

.Rectangle_10090 {
	height: 1px;
	background-color: #E8E9EB;
}

#agreement {
	font-family: NanumSquareRoundOTF;
	font-size: 12px; /* 1rem은 기본 폰트 크기 */
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	color: #96999D;
}

#agreement a {
	color: #5D6066;
	text-decoration: underline;
}
