body{
	border: 1px solid Red;
	
}

header, footer{
	border: 1px solid Red;
	background-color: #FAFAFC;
}
html{
	background-color: #FAFAFC;
}
.container{
	display: flex;
    flex-direction: column; /* 카드들을 세로로 쌓이게 함 */
    align-items: center; /* 가로 중앙 정렬 */
}
/* header 부분*/
header{
	display: flex;
    align-items: center; /* 가로 중앙 정렬 */
 	justify-content: space-between;
}
#backButton{
	margin-left:5px;
	margint-top: 7px;
}
.myText{
 	font-family: 'NanumSquareRoundOTF';
 	font-size: 18px;
 	font-weight: 800;
 	margin-left: 125px;
 	margin-bottom: 5px;
 	position: relative;
}
.settingsIcon{
	margin-left: 70px;
	width:30px;
	height:27px;
}
.alarmIcon{
	margin-top: 1px;
	width: 24px;
	height:26px;
}

/*profile 부분*/
.profile{
	display: flex;
	flex-direction: column; /* 세로로 아이템 배치 */
    align-items: center; /* 자식 요소들 가로로 중앙 정렬 */
    justify-content: center; /* 부모 요소 내에서 세로 중앙 정렬 */
	margin-top: 30px;
}
.name{
	font-family: 'NanumSquareRoundOTF';
 	font-size: 18px;
 	font-weight: 800;
 	margin-top: 10px;
}

/*결제 정보 부분*/
.payUnlimited, .payAnnual{
	background-color: white;
	border-radius: 15px; /*둥근 모서리*/
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
	font-family: 'NanumSquareRoundOTF';
	width: 325px;
	height: 80px;
    display: flex;/* 자식 요소들을 가로로 배치 */
    align-items: center; /* 세로 축에서 자식 요소들을 가운데 정렬 */
    justify-content: space-between; /* 자식 요소 사이의 공간을 균등하게 배치 */
}
.payAnnual{
	margin-top: 10px;
}

.UandA-Img{ 
	margin-left: 10px;
	margin-top: -25px;
    width: 30px;
    height: 30px;
}
.paymentText{
	font-family:'NanumSquareRoundOTF';
	font-size:16px;
	font-weight:700;
	margin-bottom:20px;
	margin-top: 5px;

	white-space: nowrap; /*텍스트 자동 줄바꿈 방지*/
}
#payUnlimited{
	margin-left: -80px;
}
#payAnnual{
	margin-left: -120px;
}
.bigRight{
	width: 12px;
    height: 12px;
     margin-right: 10px; /* 오른쪽 끝으로 정렬 */
    cursor: pointer;
}
.textContainer{
	display: flex;
    flex-direction: column; /* 텍스트를 세로로 쌓이게 설정 */
}
.paymentDescription{
	font-family:'NanumSquareRoundOTF';
	font-size:10px;
	font-weight:400;
	margin-top:-10px;
	margin-left:-35px;
	white-space: nowrap; /*텍스트 자동 줄바꿈 방지*/
}
#description_1{
	margin-left: -115px;
}
#description_2{
	margin-left: -155px;
}
/*계정 설정*/
.accountSettings{
	display: flex;
	flex-direction: column; /* 세로로 아이템 배치 */
    justify-content: center; /* 부모 요소 내에서 세로 중앙 정렬 */
	margin-top: 30px;
	background-color: white;
	border-radius: 15px; /*둥근 모서리*/
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
	display:flex;
	font-family: 'NanumSquareRoundOTF';
	width: 325px;
	height: 140px;
	margin-top:9px;
}
#accountSettings{
	font-family:'NanumSquareRoundOTF';
	font-size:11px;
	font-weight:700;
	color:#96999D;
	margin-left: 20px;
	margin-top: 10px;
}
.Icon{
	width:15px;
	height:15px;
	margin-left: 20px;
	margin-top:2px;
	margin-right:5px;
}

.contact, .email{
	display: flex;
	align-items: center;
	margin-bottom: 7px;
}
.firstMeetingDate{
	display: flex;
	align-items: center;
}
.accountSettingsText_1{
	font-family:'NanumSquareRoundOTF';
	font-size:11px;
	font-weight:400;
	color:#96999D;
	margin-right: auto; /* 텍스트를 왼쪽으로 밀어냄 */
}
.accountSettingsText_2{
	font-family:'NanumSquareRoundOTF';
	font-size:11px;
	font-weight:700;
	color:#643EF8;
	margin-right:20px;
}
.smallRight{
	width: 7px;
	height:10px;
	margin-right: 25px;
	cursor: pointer;
}

/*modal*/
.modal-overlay {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정 배경 */
    z-index: 999;
}
.modal {
	display: none;
    position: fixed;/* 스크롤과 상관없이 화면에 고정 */
    bottom: 0; /* 화면 하단에 위치 */
    width: 100%; /* 화면의 전체 너비를 차지 */
    height: 33%;
    background-color: white;
    border-radius: 20px 20px 0 0; /* 상단 모서리를 둥글게 */
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* 상단에 그림자 효과 */
    z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
	margin: 0 auto; /* 중앙 정렬 */
}
.whiteBar{
	margin-left:41%;
}
.close{
	font-size:37px;
	font-weight: 100;
	margin-right: 15px;
	margin-top: -5px;
	cursor: pointer;
}
.modaltitleclose{
 	display: flex;
 	 justify-content: space-between; /* 제목과 닫기 버튼 사이에 공간을 균등하게 배분 */
    align-items: center; /* 두 요소를 세로 축에서 가운데 정렬 */
}
.modalTitle{
	font-family:'NanumSquareRoundOTF';
	font-size:17px;
	font-weight:800;
	margin-left:15px;
	white-space: nowrap;
}
.inputbutton{
	display: flex;
	flex-direction: column; /* 세로로 아이템 배치 */
    justify-content: center; /* 부모 요소 내에서 세로 중앙 정렬 */
}
.modalInput{
	 padding-left: 10px;
	 border: 1px solid #D2D3D6;
	 margin: 10px auto; 
	 margin-top:15px;
	 border-radius: 10px;
	 width: 320px;
	 height: 30px;
}
.modalInput::placeholder {
    font-family: 'NanumSquareRoundOTF'; /* 플레이스홀더 텍스트의 스타일 */
}
.modalButton{
	border-radius: 8px;
	background-color: #643EF8;
	width: 335px;
	height: 35px;
	margin: 10px auto; 
	border: 1px; solid #643EF8;
}
.complete{
	font-family:'NanumSquareRoundOTF';
	font-size:15px;
	color: white;
}





























