<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>main</title>
<link rel="stylesheet" href="/css/Guide.css">
<link rel="stylesheet" href="/css/main/main.css">
</head>
<body>
	<header>
		<img class="lovewithLogo" src="/img/lovewithLogo.png"
			alt="lovewith 로고이미지" /> <img class="QR" src="/img/QR.png"
			alt="QR 이미지" /> <img class="whiteBell" src="/img/whitebell.png"
			alt="알람 이미지" />
	</header>
	<div class="container">
		<div class="heartContainer">
			<img class="heartImage" src="/img/heart.png" alt="투명 하트 이미지" />
			<div class="heartText">
				<p class="realLoveDay">REAL LOVE DAY</p>
				<p class="dating">188</p>
				<p class="day">DAY</p>
				<p class="date">2023.02.21</p>
			</div>
		</div>
		<div class="lowerMiddlePart">
			<a href="/views/member/myPage.do"> <img class="manProfile"
				src="/img/manprofile.png" alt="남자 프로필 이미지" />
			</a> <img class="smallHeart" src="/img/smallheart.png" alt="작은 하트 이미지" />
			<img class="womanProfile" src="/img/womanprofile.png"
				alt="여자 프로필 이미지" />
		</div>
		<div class="overlay">
			<p class="loveStory">성철과 희진의 사랑 이야기</p>
		</div>
	</div>
	<footer>
		<div class="down">
			<img class="anniversary" src="/img/anniversary.png"
				alt="anniversary 이미지" /> <img class="homeButton"
				src="/img/home.png" alt="홈버튼 이미지" /> <img class="my"
				src="/img/my.png" alt="my 이미지" />
		</div>
	</footer>
</body>
</html>