<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Love With</title>
<link rel="stylesheet"
	href="/css/splash.css">
<script src="/js/common.js"></script>
<script src="/js/splash.js"></script>
</head>
<body>
	<div class="container">
		<img src="/img/splashbackground.png"
			alt="배경 이미지" class="background-image">
		<div class="content">
			<img src="/img/SplashLogo.png"
				alt="로고 이미지" class="logo-image">
			<div class="text">
				<p id="text">우리 둘의 사랑의 서약</p>
				<img
					src="/img/splash_lovewith.png"
					alt="LOVE WITH 이미지" class="lovewith-image">
			</div>
		</div>
	</div>
</body>
</html>
