<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jworks.lovewith.member.mapper.MemberMapper">

	<insert id="insertMember" parameterType="com.jworks.lovewith.member.vo.MemberVO">
        INSERT INTO lovewith_member (email, password, role, name, nickname, mfCode, cellNo, joinDate, updateDate)
        VALUES (#{email}, #{password}, #{role}, #{name}, #{nickname}, #{mfCode}, #{cellNo}, #{joinDate}, #{updateDate})
    </insert>


</mapper>