<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>03로그인_02이용약관</title>
<link rel="stylesheet" href="/css/Guide.css">
<link rel="stylesheet" href="/css/member/agreement.css">
<script src="/js/common.js"></script>
</head>
<body>
	<!-- Header START -->
	<header class="SUB-Header">
		<div class="SUB-Header-Arrow">
			<img id="backButton" src="/img/button/icon/Vector 8.png"
				alt="뒤로가기 버튼" />
		</div>
		<div>
			<span class="SUB-Header-TXT">이용약관</span>
		</div>
		<div class="Frame-816197"></div>
	</header>
	<!-- Header END -->
	<!-- Container START -->
	<div class="container">
		<section class="Frame-47455">
			<p>캘리포니아 구독자: 구독한 날짜로부터 제3영업일의 자정 전에 언제든지 위약금이나 의무 사항 없이 본 구독을
				취소할 수 있습니다. 외부 서비스(예: Apple ID, Google Play)를 사용하여 구독하신 경우 제8조제a항에
				자세히 설명된 대로 외부 서비스를 통해 취소하셔야 합니다. Apple ID를 통해 구독하신 경우, Lovewith가 아닌
				Apple에서 환불을 처리합니다. 휴대폰의 Apple ID 계정을 통해 또는
				https://getsupport.apple.com에서 Apple에 환불을 요청하실 수 있습니다. 그 밖의 모든 사용자는
				당사의 도움말 센터를 통해 Lovewith 고객 서비스에 연락하거나, 구매자인 귀하가 본 계약을 취소한다는 내용 또는 이와
				유사한 취지의 내용과 함께 서명과 날짜가 기재된 통지를 우편으로 보내거나 전달하여 환불을 요청할 수 있습니다. 또한 계정
				가입 시 사용한 귀하의 이름과 이메일 주소, 전화번호 또는 기타 고유 식별자도 함께 기재해 주십시오.​ 해당 통지는 다음
				주소로 송부해야 합니다. Lovewith, Attn: Cancellations, P.O. Box 25472, Dallas,
				Texas 75225, USA. 회사의 업무는 부분적으로 8750 N. Central Expressway, Suite
				1400, Dallas, TX 75205에서 수행됩니다. 본 이용약관(이하 '약관')은 Terms Inquiries,
				P.O. Box 25472, Dallas, Texas 75225, USA.로 서신을 보내 이메일로 받을 수 있습니다.
				캘리포니아 민법 제1789.3조에 따라 불만 사항은 캘리포니아 소비자보호국(California Department of
				Consumer Affairs) 내 소비자 서비스 부문(Division of Consumer Services)의 불만 처리
				지원 부서(Complaint Assistance Unit)에 서면으로 연락하거나(주소: Consumer
				Information Division, 1625 North Market Blvd., Suite N112
				Sacramento, CA 95834) (800) 952-5210으로 전화하여 신고할 수 있습니다.</p>
		</section>
		<section class="TXT">
			<p>1. 소개</p>
			<p>2. 계정 자격, 사용자 책임</p>
			<p>3. 콘텐츠</p>
			<p>4. 부적절한 콘텐츠 및 위법 행위 보고</p>
			<p>5. 개인정보</p>
			<p>6. Lovewith가 귀하에게 부여한 권리</p>
			<p>7. 귀하가 Lovewith에 부여하는 권리</p>
			<p>8. 구매 및 구독 자동 갱신</p>
			<p>9. 계정 해지</p>
			<p>10. 범죄 경력 또는 신원 확인</p>
			<p>11. 면책 조항</p>
			<p>12. 디지털 밀레니엄 저작권법</p>
			<p>13. 광고 및 제3자 콘텐츠</p>
			<p>14. 책임의 제한</p>
			<p>15. 분쟁 해결 조항</p>
			<p>16. 준거법</p>
			<p>17. 관할권/법정 선택</p>
			<p>18. 귀하에 의한 면책</p>
			<p>19. 약관 수락</p>
			<p>20. 완전한 합의</p>
			<p>21. 특정 지역 거주자를 위한 특별 약관</p>
		</section>
	</div>
	<!-- Container END -->
</body>
</html>