<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>03회원가입_01이메일인증_03이름입력</title>
<link rel="stylesheet" href="/css/Guide.css">
<link rel="stylesheet" href="/css/member/nmRegister.css">
<script src="/js/member/nmRegister.js"></script>
<script src="/js/common.js"></script>
</head>
<body>
	<!-- Header START -->
	<header class="SUB-Header">
		<div class="SUB-Header-Arrow">
			<img id="backButton" src="/img/button/icon/Vector 8.png"
				alt="뒤로가기 버튼" />
		</div>
		<div>
			<span class="SUB-Header-TXT"></span>
		</div>
		<div class="Frame-816197"></div>
	</header>
	<!-- Header END -->
	<!-- Container START -->
	<div class="container">
		<div class="TOP_TXT">
			<h3>이름</h3>
			<p>본인의 본명을 입력해주세요.</p>
		</div>
		<div class="form-wrapper">
			<form>
				<label for="lastname">성</label> <input type="text" id="lastname"
					required> <label for="firstname">이름</label> <input
					type="text" id="firstname" required>
				<button type="submit" disabled>계속하기</button>
			</form>
		</div>
	</div>
	<!-- Container END -->
</body>
</html>