<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>04회원가입_03가입완료2</title>
<link rel="stylesheet" href="/css/Guide.css">
<link rel="stylesheet" href="/css/member/regSuccess.css">
<script src="/js/common.js"></script>
</head>
<body>
	<!-- Header START -->
	<header class="SUB-Header">
		<div class="SUB-Header-Arrow">
			<img id="backButton" src="/img/button/icon/Vector 8.png"
				alt="뒤로가기 버튼" />
		</div>
		<div>
			<span class="SUB-Header-TXT"></span>
		</div>
		<div class="Frame-816197"></div>
	</header>
	<!-- Header END -->
	<!-- Container START -->
	<div class="container">
		<div class="TOP_TXT">
			<h3>회원가입 완료!<br> 러브위드에 오신 것을 환영해요.</h3>
			<p>연인을 검색하여 커플임을 확인해볼까요?</p>
		</div>
		<div class="Frame-816160">
			<img src="/img/Frame-816160.png">
		</div>
		<div class="btn-group">
			<button class="continueBtn"
				onclick="location.href='/views/member/searchForLoverPhone.do'">계속하기</button>
			<button class="nextBtn"
				onclick="location.href='/views/main/main.do'">다음에 하기</button>
		</div>
	</div>
	<!-- Container END -->
</body>
</html>