<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>04회원가입_02휴대폰번호인증_02인증코드입력</title>
<link rel="stylesheet"
	href="/css/Guide.css">
<link rel="stylesheet"
	href="/css/member/sendingPhone.css">
<script src="/js/member/sendingPhone.js"></script>
<script src="/js/common.js"></script>
</head>
<body>
	<!-- Header START -->
	<header class="SUB-Header">
		<div class="SUB-Header-Arrow">
			<img id="backButton" src="/img/button/icon/Vector 8.png"
				alt="뒤로가기 버튼" />
		</div>
		<div>
			<span class="SUB-Header-TXT"></span>
		</div>
		<div class="Frame-816197"></div>
	</header>
	<!-- Header END -->
	<!-- Container START -->
	<div class="container">
		<div class="TOP_TXT">
			<h3>인증코드 입력</h3>
			<p>
                <span id="phoneInfo"></span>로 인증코드가 <br>
                전송되었습니다. 수신된 인증코드를 입력해주세요.
            </p>
		</div>
		<div class="auth-code">
			<span>인증코드</span>
			<div class="code-input-group">
				<input type="text" maxlength="1" id="code1" />
				<input type="text" maxlength="1" id="code2" />
				<input type="text" maxlength="1" id="code3" />
				<input type="text" maxlength="1" id="code4" />
				<input type="text" maxlength="1" id="code5" />
				<input type="text" maxlength="1" id="code6" />
			</div>
		</div>
		<div class="Frame-816153">
			<div class="Frame-816152">
				<img
					src="/img/button/icon/Info.png">
				<span>메시지를 받지 못하셨나요?</span>
			</div>
			<button class="reSend-btn">인증코드 재전송</button>
		</div>
		<button class="nextPage" type="submit" disabled>다음</button>
	</div>
	<!-- Container END -->
</body>
</html>